{% extends 'base.html' %}

{% load static %}
<title>{% block titulo %}mision y vision{% endblock titulo%}</title>

{% block content %}
  
  <div class="row justify-content-around">
    <div class="col-sm-12 mx-5">
      <div class="card mx-5">
        <div class="card-header">
          <h1 class="text-center">title Histoy</h1>
          </hr>
          <img src="{% static '' %}"
          </hr>
          <p>lorem</p>
        </div>
      </div>
    </div>
    

{% endblock %}


{% block footer%}

{% endblock %}